.about {
	position: relative;
	padding: 461px 0 71px 0;
	background-image: url('../img/header-bg.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	text-align: center;
}