.header {
	background-color: #181818;
	&__wrapper {
		padding: 24px 20px 24px 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		margin-right: auto;
	}

	&__menu {
		margin-right: 31px;

		&_link {
			margin-right: 32px;
		}

		&_link:first-child {
			margin-right: 56px;
		}

		&_link:last-child {
			margin-right: 0;
		}
	}
}